<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>New post creating</h1>
  <div class="form-control"
       [ngClass]="{invalid: formService.touchedAndInvalidControl('title')}"
  >
    <label for="title">Post title:</label>
    <input id="title" type="text" formControlName="title">
    <div class="validation" *ngIf="formService.touchedAndInvalidControl('title')">
      <small
        *ngIf="form.get('title')?.errors?.['required']"
      >
        Enter title, please!
      </small>
    </div>
  </div>

  <div>
    <label for="title">Post content:</label>
    <div class="form-control">
      <quill-editor
        theme="snow"
        classes="quel-view"
        formControlName="text"
        [minLength]="20"
        [required]="true"
      ></quill-editor>
      <div class="validation" *ngIf="formService.touchedAndInvalidControl('text')">
        <small
          *ngIf="form.get('text')?.errors?.['required']"
        >
          Enter password, please!
        </small>
        <small
          class="too-short"
          *ngIf="form.get('text')?.hasError('minLengthError')"
        >
          Post text is too short. There are
          {{formService.calcQuillCntrlRemainChars('text')}}
          characters left.
        </small>
      </div>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: formService.touchedAndInvalidControl('author')}"
  >
    <label for="author">Post author:</label>
    <input id="author" type="text" formControlName="author">
    <div class="validation" *ngIf="formService.touchedAndInvalidControl('author')">
      <small
        *ngIf="form.get('author')?.errors?.['required']"
      >
        Enter post author, please!
      </small>
    </div>
  </div>

  <button
    type="submit" class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >
    Create post</button>
</form>
