<div>
  <form
    *ngIf="!loading && form"
    [formGroup]="form"
    (ngSubmit)="editPost()"
  >
    <div class="form-control"
         [ngClass]="{invalid: formService.touchedAndInvalidControl('title')}">
      <label for="title">Post name:</label>
      <input id="title" type="text" formControlName="title">
      <div class="validation" *ngIf="formService.touchedAndInvalidControl('title')">
        <small>
          Enter post name
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor
        theme="snow"
        formControlName="text"
        [minLength]="20"
        [required]="true"
        [ngClass]="{invalid: formService.touchedAndInvalidControl('text')}"
      ></quill-editor>
      <div class="validation" *ngIf="formService.touchedAndInvalidControl('text')">
        <small
          *ngIf="form.get('text')?.errors?.['required']"
        >
          Field can't be empty!
        </small>
        <small
          class="too-short"
          *ngIf="form.get('text')?.hasError('minLengthError')"
        >
          Post text is too short. There are
          {{formService.calcQuillCntrlRemainChars('text')}}
          characters left.
        </small>
      </div>
    </div>

    <div class="ctx__wrapper">
      <button
        class="btn btn-primary ctx__update"
        type="submit"
        [disabled]="form.invalid || submitted"
      >Update</button>
    </div>
  </form>
</div>

<div *ngIf="!loading && !form;">
  <div class="alert">
    There is no post with provided ID :(
  </div>
  <a
    class="btn btn-primary"
    type="submit"
    [routerLink]="['/admin', 'dashboard']"
  >Go to dashboard</a>
</div>


<div *ngIf="loading">
  <p class="text-center">Loading...</p>
</div>
