<div>
  <form
    *ngIf="!loading && form"
    [formGroup]="form"
    (ngSubmit)="editPost()"
  >
    <div class="form-control">
      <label for="title">Post name:</label>
      <input id="title" type="text" formControlName="title">
      <div class="validation">
        <small>
          Enter post name
        </small>
      </div>
    </div>

    <div>
      <quill-editor theme="snow" formControlName="text"></quill-editor>
    </div>

    <div class="ctx__wrapper">
      <button
        class="btn btn-primary ctx__update"
        type="submit"
        [disabled]="form.invalid || submitted"
      >Update</button>
    </div>
  </form>
</div>

<div *ngIf="!loading && !form;">
  <div class="alert">
    There is no post with provided ID :(
  </div>
  <a
    class="btn btn-primary"
    type="submit"
    [routerLink]="['/admin', 'dashboard']"
  >Go to dashboard</a>
</div>


<div *ngIf="loading">
  <p class="text-center">Loading...</p>
</div>
