<div *ngIf="!loading && posts.length > 0">
  <div class="form-control">
    <input type="text" placeholder="Search by title..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts.reverse() | searchPosts:searchStr; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date:'medium' }}</td>
      <td>
        <div class="item-actions">
          <button [routerLink]="['/admin', 'post', post.id, 'edit']" class="btn btn-link open">
            Open
          </button>
          <a (click)="delete(post.id)">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="!loading && !posts.length;">
  <div class="alert">
    There is no posts yet :(
  </div>
  <a
    class="btn btn-primary"
    type="submit"
    [routerLink]="['/admin', 'create']"
  >Create new post</a>
</div>

<ng-template *ngIf="loading">
  <p class="text-center">Loading...</p>
</ng-template>
